// Sizes
$view-port: 1000px;
$nav-height: 80px;


// Colors
$color-white: #fff;
$color-yellow: #ffd200;
$color-silver:#f3f0e7;
$color-red: #e11a27;
$color-main:#f7f0e6;
$color-black: #000;
$color-grey: #42403d;
$color-facebook: #3b5999;
$color-twitter: #55acee;
$color-instagram: #e4405f;